.edit {
    max-width: 400px;
    margin: 5px auto;
    padding: 40px 20px;
    text-align: center;
}

.edit__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
}

    .edit__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit__image-label {
	display: inline-block;
	background-color: white;
	color: #ff6b6b;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 4px;
    border: 1px solid #ff6b6b;
    cursor: pointer;
    font-weight: bold;
}

.edit__image-input {
	display: none;
}

    .edit__label {
    font-weight: bold;
    text-align: left;
}

    .edit__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: 4px;
}

    .edit__button {
    background-color: #ff6b6b;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 50px;
}

.edit__error{
    color: #ff6b6b;
	font-weight: bold;
}

